<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="web.dao.face.CartDao">

	
	<select id="selectCartByUserno" resultType="HashMap" parameterType="web.dto.Cart">
		select 
			C.cart_no
			, SI.SOURCE_IMG_STOREDNAME 
			, S.source_name, S.source_no, source_price, bpm, key
		 from cart C
			left join source S on C.source_no = S.source_no
			left join sourceimginfo SI on C.source_no = SI.source_no
		 where C.user_no = #{userNo}
	</select>
	
	<delete id="deleteCartByCartNo"  parameterType="int">
		DELETE FROM cart
		WHERE cart_no = #{cartNo}
	</delete>

	<select id="selectDuplicatedCartByUserNo" resultType="int" parameterType="web.dto.Cart">
		select count(*) from cart
		where user_no = #{userNo} and source_no = #{sourceNo}
	</select>
	
	<insert id="insertCartItem" parameterType="web.dto.Cart">
		INSERT INTO cart (CART_NO, SOURCE_NO, USER_NO )
		VALUES( cart_seq.nextval, #{sourceNo}, #{userNo})
	</insert>

</mapper>  