<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스 3 Mapper DTD -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
	<mapper namespace="web.dao.face.FileUploadDao">
	
	<select id="selectAllSourceList" resultType="web.dto.Source">
	select * from source order by source_no desc
	</select>
	
	<insert id="TagInsert" parameterType="web.dto.Tag">
	<selectKey keyProperty="tagNo" order="BEFORE" resultType="int">
	select tag_seq.nextval from dual
	</selectKey>
	
	insert into tag
	(tag_no, instrument, genre, scape, detail,fx)
	values
	(#{tagNo}, #{instrument}, #{genre}, #{scape}, #{detail}, #{fx}) 
	
	</insert>
	
	
	
	<insert id="SourceInsertSource" parameterType="web.dto.Source">
	insert into source
	(source_no, source_name, bpm, key, source_price, tag_no, pack_no, user_no,source_time)
	values
	(source_seq.nextval , #{sourceName}, #{bpm} , #{key}, 30, #{tagNo} , 1 , 1,#{sourceTime})
	</insert>
   
   	<insert id="SourceInsertImg" parameterType="web.dto.SourceImgInfo">
   	insert into sourceimginfo
   	(source_img_originname , source_img_storedname , source_no)
   	values
   	(#{sourceImgOriginname}, #{sourceImgStoredname}, #{sourceNo})
   	</insert>
   	
   	<insert id="SourceInsertFile" parameterType="web.dto.SourceFileInfo">
   	<selectKey keyProperty="uploadNo" order="BEFORE" resultType="int">
	select sourcefileinfo_seq.nextval from dual
	</selectKey>
   	insert into sourcefileinfo
   	(upload_no, file_originname, file_storedname,file_size ,source_no)
   	values
   	(#{uploadNo}, #{fileOriginname}, #{fileStoredname} , #{fileSize} ,#{sourceNo} )
   	</insert>
   
   
  	
  	</mapper>