<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
  <mapper namespace="web.dao.face.OrderDao">
  
  	<select id="selectSourceFileBysourceNo" parameterType="int" resultType="web.dto.SourceFileInfo">
  		SELECT * FROM SOURCEFILEINFO
  		WHERE SOURCE_NO = #{sourceNo}
  	</select>
  
  	<select id="selectSourceChkByUsernoSourceNo" parameterType="web.dto.MySource" resultType="int">
  		SELECT count(*) cnt FROM MySOURCE
		WHERE source_no = #{sourceNo} and USER_NO = #{userNo}
  	</select>
  
  	<select id="selectCreditByUserNo" parameterType="int" resultType="Integer[]">
	  	SELECT SUM(amount)
		FROM CREDIT
		WHERE user_no = #{userNo}
		GROUP BY deal_category
		having deal_category in(1,3)
		union all
		SELECT SUM(amount)
		FROM CREDIT
		WHERE user_no = #{userNo}
		GROUP BY deal_category
		having deal_category in(2,4)
  	</select>

<!--  ================================================================================== -->
<!--  장바구니에서 진행하는 음원 구매 코드 (작성자 : 지선 ) -->
	<select id="selectCreditAcc" resultType="int" parameterType="web.dto.Users">
		SELECT 
	    (
	        SELECT nvl(SUM(AMOUNT),0) FROM CREDIT
	        WHERE DEAL_CATEGORY IN (1, 3)
	        AND USER_NO=#{userNo}
	    )
	    - 
	    (
	        SELECT nvl(SUM(AMOUNT),0) FROM CREDIT
	        WHERE DEAL_CATEGORY IN (2, 4)
	        AND USER_NO=#{userNo}
	    ) AMOUNT
		FROM DUAL
	</select>
	
	<select id="selectSourceAmount"  resultType="int" parameterType="web.dto.Source">
		SELECT nvl(SUM(SOURCE_PRICE),0) FROM SOURCE
		WHERE SOURCE_NO IN (${sourceNo})
	</select>
	
	<insert id="expenditureCredit" parameterType="web.dto.Credit">
		insert into credit (DEAL_NO, user_no, DEAL_DATE, DEAL_CATEGORY, AMOUNT) 
		values (credit_seq.nextval, #{userNo}, SELECT to_char(CURRENT_timestamp,'yy/mm/dd hh24:mi:ss') from dual, 2, #{amount})
	</insert>
	
	


</mapper>
