<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
  <mapper namespace="web.dao.face.SourceDao">
  
  	<select id="selectTagByGenre" parameterType="web.dto.Tag" resultType="web.dto.Tag">
  		SELECT DISTINCT GENRE FROM TAG
	  	WHERE genre = #{genre}	
  	</select>
  	
  	<select id="selectTagByGenreforScape" parameterType="web.dto.Tag" resultType="web.dto.Tag">
  		SELECT DISTINCT SCAPE FROM TAG
	  	WHERE GENRE = #{genre}
  	</select>
  	
  	<select id="selectTagByGenreforDetail" parameterType="web.dto.Tag" resultType="web.dto.Tag">
  		SELECT DISTINCT DETAIL FROM TAG
	  	WHERE GENRE = #{genre}
  	</select>
  	
  	<select id="selectTagByGenreforFx" parameterType="web.dto.Tag" resultType="web.dto.Tag">
  		SELECT DISTINCT Fx FROM TAG
	  	WHERE GENRE = #{genre}
  	</select>
  
  	<select id="selectSourceByGenre" parameterType="String" resultType="hashmap">
		SELECT s.source_no, s.source_name, s.bpm, s.key, s.source_time,
			t.tag_no, t.genre, 
		    p.pack_no, pi.pack_img_storedname, pi.pack_img_originname,
		    sf.file_originname, sf.file_storedname
		FROM source S
		INNER JOIN tag t on s.tag_no = t.tag_no
		INNER JOIN pack p on s.pack_no = p.pack_no 
		INNER JOIN packimginfo pi on p.pack_no = pi.pack_no
		INNER JOIN sourcefileinfo sf on s.source_no = sf.source_no
		WHERE t.genre = #{genre}
		
		<if test="instrument != null and !instrument.equals('')">
			AND t.instrument = #{instrument}
		</if>
		
		<if test="scape != null and !scape.equals('')">
			AND t.scape = #{scape}
		</if>
		
		<if test="detail != null and !detail.equals('')">
			AND t.detail = #{detail}
		</if>
		
		<if test="fx != null and !fx.equals('')">
			AND t.fx = #{fx}
		</if>
		
		order by source_no
		
  	</select>
  
  	<insert id="insertSourceLike" parameterType="web.dto.SourceLike">
  		INSERT INTO SOURCE_LIKE(USER_NO, SOURCE_NO)
  		VALUES(#{userNo},#{sourceNo})
  	</insert>
  
  	<select id="selectByLike" parameterType="web.dto.SourceLike" resultType="int">
  			
  		SELECT count(*) chk FROM SOURCE_LIKE
  		WHERE user_no = #{userNo} and source_no = #{sourceNo}
  	
  	</select>
  
  	<delete id="deleteByLike" parameterType="web.dto.SourceLike">
  		DELETE SOURCE_LIKE
  		WHERE SOURCE_NO = #{sourceNo} and USER_NO = #{userNo}
  	</delete>
  	
  	<select id="selectBySourceNoforFile" parameterType="web.dto.SourceFileInfo" resultType="web.dto.SourceFileInfo">
  		SELECT * FROM SOURCEFILEINFO
  		WHERE SOURCE_NO = #{sourceNo}	
  	</select>
  	
  	
  
  </mapper>